**/*.eo
**/*.o
**/pfdicdat.h
**/pforth
**/pforth.dic
**/pforth_standalone
platform/win32/**/.vs
platform/win32/**/Debug
platform/win32/**/Release
fth/fatest1.txt
fth/pforth.dic
**/.DS_Store
build/

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Makefile
cmake_install.cmake
csrc/CMakeFiles/
csrc/CTestTestfile.cmake
csrc/Makefile
csrc/cmake_install.cmake
csrc/libPforth_lib.a
csrc/libPforth_lib_sd.a
csrc/pfdicdat.h

