platform/unix/*.eo
platform/unix/*.o
platform/unix/pfdicdat.h
platform/unix/pforth
platform/unix/pforth.dic
platform/unix/pforth_standalone
platform/win32/**/.vs
platform/win32/**/Debug
platform/win32/**/Release
fth/fatest1.txt
fth/pforth.dic
**/.DS_Store
build/

